
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<div>
    <button type="button" class="btn btn-primary"><img src="~/Images/Factura2">Pago de Factura</button>
    <button type="button" class="btn btn-primary"><img src="~/css/CasoCerrado">Casos Cerrados</button>
    <button type="button" class="btn btn-primary"><img src="~/Images/Historial">Historial de Pago</button>
    <button type="button" class="btn btn-primary"><img src="~/Images/Factura">Factura</button>
</div>

